body{
    box-sizing: border-box;
    margin: 0;
    background-color: #EFF6FF;

    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        background-image: linear-gradient(#0066E3,#001633);
        height: 100vh;
        width: 250px;
        transition: width 0.3s;

        .logo-link {
            display: flex;
            align-items: center;
            justify-content: center;

            .icon i {
                font-size: 30px;
                align-items: center;
                font-weight: bold;
                color: #EFF6FF;
            }

            .description{
                font-size: 30px !important;
                font-weight: bold;
                letter-spacing: 5px;
            }
        }

        hr {
            height: 2px;
            width: 90%;
            background-color: #ffffff;
            border: none;
            margin-left: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .category{
            margin-left: 10px;
            color: #a5a5a5;
            margin-bottom: 10px;
        }

        .nav-link{
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 10px 20px;
            color: #ffff;
            transition: all 0.5s ease;

            &:hover{
                background-color: #0066E3;
                color: #ffff;
            }

            .description{
                font-size: 15px;
                // font-weight: bold;
                // letter-spacing: 1px;
            }
        }
        .active {
            background-color: #0066E3;
        }
    }

    .main-content{
        padding: 25px 0px;
        height: 100vh;
        margin-left: 250px;
        background-color: #EFF6FF;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        .header{
            font-size: 15px;
            width: 100%;
            margin-bottom: 10px;
            background-color: #FFFF;
            justify-content: space-between;
            display: flex;
            align-items: center;

            .welcome-message {
                height: 100%;
                font-weight: bold;
                display: flex;
                align-items: center;
                align-items: flex-start;

                .icon i{
                    color: #0066E3;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    margin: none;
                    margin-right: 5px;
                }
            }
        }

        .page-title{

            h1{
                font-weight: bold;
                margin: 0;
                font-size: 30px;
                text-align: left;
            }

            p {
                margin: 5px;
            }
        }

        .box-content {
            height: 140px;
            width: 100%;
            display: flex;
            gap: 20px;
            justify-content: space-between;
            
            .box {
                background-color: #ffffff;
                flex: 1;
                text-align: center;
                padding: 20px;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 5px;
                position: relative;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                
                &:hover {
                    transform: translateY(-1px);
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px;
                }
            }

            .icon {
                font-size: 2.5rem;
                margin-bottom: 10px;

                }

            p {
                font-size: 1.2rem;
                font-weight: 600;
            }

            .box1{
                background-color: #EFF6FF;

                i {
                    color: #0066E3;
                }
            }

            .box2{
                background-color: #EFF6FF;

                i {
                    color: #00ff00;
                }
            }

            .box3{
                background-color: #EFF6FF;

                i {
                    color: #000000;
                }
            }

            .box4{
                background-color: #EFF6FF;

                i {
                    color: #e30000;
                }
            }
        }

        .content-container{
            background-color: rgb(255, 255, 255);
            width: 96%;
            height: 95vh;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
            display: flex;
            flex-direction: column;
            overflow: hidden;      
            padding: 20px;
            animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            .user-content {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-top: 15px;

                .pie-chart-container {
                    height: 100%;
                    width: 50%;
                    padding: 5px;

                    hr {
                        margin: 10px 0px;
                    }

                    h2 {
                        font-size: 18px;
                    }

                    .pie-content {
                        height: 100%;
                        width: 100%;
                        display: flex !important;
                        justify-content: center !important;


                        #userStatusPieChart {
                            width: 350px !important;
                            height: 300px !important;

                        }
                    }
                }

                .recent-container{
                    height: 100%;
                    width: 50%;
                    overflow: scroll;
                    overflow-x: hidden;
                    padding: 5px;

                    hr {
                        margin: 10px 0px;
                    }
                    
                    h2{
                        font-size: 18px;
                    }

                    table {

                        thead th{
                            font-size: 13px;
                        }
                        tbody tr{
                            font-size: 13px;
                        }
                    }

                    .time-in-status {
                        border: 1px solid green;
                        color: rgb(0, 0, 0);
                        padding: 2px 11px;
                        border-radius: 8px;
                        font-size: 12px;
                        display: inline-block;
                    }

                    .time-out-status {
                        border: 1px solid red;
                        color: rgb(0, 0, 0);
                        padding: 2px 6px;
                        border-radius: 8px;
                        font-size: 12px;
                        display: inline-block;
                    }
                }
            }

            .dashboard-content{
                background-color: rgb(255, 255, 255);
                width: 100%;
                height: 100%;
                border-radius: 10px;
                display: flex;
                flex-direction: column;

                .table-top{
                    margin-bottom: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    
                    .top1{
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        h2{
                            font-size: 15px;
                        }
                    }

                    .top2{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .search-container{
                            width: 400px;
                            overflow: hidden;
                            input{
                                border-radius: 10px;
                                width:250px;
                            }

                            button {
                                background-color: #0025B7;
                            }
                        }

                        .table-btn {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            button {
                                background-color: #0025B7;
                            }
                        }
                    }
                }

                .manage-container {
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: hidden;

                    .table {

                        tbody tr {
                            height: 49px;
                        }

                        thead, tbody {
                            text-align: center;
                            vertical-align: middle;
                            background-color: white;

                            th {
                                background-color: #EFF6FF;
                                color: #000000;
                                border: 1px solid #e2e2e2;
                                width: 100px;
                                font-size: 13px;
                            }

                            tr {
                                font-size: 13px;
                            }

                            .btn-actions{

                                i{
                                    font-size: 15px;
                                }

                                .btn1-action{
                                    padding: 5px;
                                    background-color: #0025B7;
                                    color: white;
                                    border: none;
                                    cursor: pointer;
                                    border-radius: 3px;
                                    padding: 2px 8px;

                                    &:hover {
                                        background-color:  #0066E3;
                                    }
                                }

                                .btn2-action{
                                    padding: 5px;
                                    background-color: #ff0000;
                                    color: white;
                                    border: none;
                                    cursor: pointer;
                                    border-radius: 3px;
                                    padding: 2px 8px;

                                    &:hover {
                                        background-color:  #fb3b3b;
                                    }
                                }
                            }
                        }
                    }
                }

                .pagination-container {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                        
                    nav{
                        height: 100%;

                        .pagination {
                            margin: 0px;

                            a, li {
                                font-size: 11px;
                                color: #000000;
                                font-weight: bold;
                            }

                            a {
                                border-radius: 0px;
                            }

                            .active .page-link, .page-link.active {
                                z-index: 3;
                                color: #ffffff;
                                background-color: #0025B7;
                            }
                        }
                    }
                }
            }
        }
    }
}    

@media (max-width: 600px) {
        .sidebar {
            width: 80px;
        }
        .sidebar .description{
            display: none;
        }
        .sidebar hr{
            width: 60px;
        }
        .sidebar .category{
            display: none;
        }
        .sidebar .nav-link {
            justify-content: center;
        }
        .main-content {
            margin-left: 80px;
        
        }
    } 

@keyframes slide-top {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}