.dashboard-content{
    background-color: rgb(255, 255, 255);
    width: 96%;
    height: 70vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .table-top{
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .top1{
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 10px 0px 10px;
            h2{
                font-size: 15px;
            }
        }
        .top2{
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 7px 0px 7px;
            .search-container{
                width: 400px;
                overflow: hidden;
                input{
                    border-radius: 10px;
                    width:250px;
                }
            }
        }
        
    }

    .manage-container, .attendance-container, .requests-container{
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        .table {

            th {
                background-color: #0025B7;
                color: #ffffff;
                border: 1px solid #ffffff;
                width: 100px;
                font-size: 13px;
            }
            tr {
                font-size: 13px;
            }
        }
        .view-action{
            width: 50px;
            padding: 3px;
            border: 1px solid rgba(128, 128, 128, 0.478);
            border: 1px solid rgba(214, 214, 214, 0.478);
            font-size: 14px;
            text-decoration:underline;
            border-radius: 5px;
            background-color: transparent;
            &:hover{
                border: 1px solid rgba(128, 128, 128, 0.478);
            }
        }
        .action-btns{
        
            i{
                font-size: 15px;
            }
            .edit-action{
                padding: 5px;
                background-color: #0025B7;
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 3px;
                width: 60px;
                &:hover {
                    background-color:  #0066E3;
                }
            }
            .delete-action{

                background-color: #b70000;
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                width: 70px;
                border-radius: 3px;
                &:hover {
                    background-color:  #fb3b3b;
                }
            }
        }
    }

    /* Present and Absent status styles */
    .present-status {
        background-color: green; /* Green text for Present */
        color: #ffffff;
        padding: 4px 8px;
        border-radius: 8px;
        font-size: 12px;
        display: inline-block;
    }

    .absent-status {
        background-color: rgb(52, 51, 51); /* Red text for Absent */
        color: #ffffff;
        padding: 4px 8px;
        border-radius: 8px;
        font-size: 12px;
        display: inline-block;
    }

    .requests-container{
        .table{
            th{
                background-color: #0025B7;
                color: #ffffff;
                border: 1px solid #ffffff;
                width: 50px;
                font-size: 13px;
            }
            .approve-action{
                padding: 2px 1px;
                background-color: #00d111;
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 3px;
                width: 100px;
                &:hover {
                    background-color:  #70d078;
                }
            }
            .deny-action{
                padding: 2px 1px;
                background-color: #b70000;
                border: none;
                color: rgb(255, 255, 255);
                cursor: pointer;
                border-radius: 3px;
                width: 100px;
                &:hover {
                    background-color: #fb3b3b;
                }
            }
            .delete-action{
                padding: 2px 1px;
                border: 1px solid black;
                color: rgb(0, 0, 0);
                cursor: pointer;
                border-radius: 5px;
                width: 100px;
                border-radius: 3px;
            }
            i{
                font-size: 15px;
            }
        }
    }
    /* Approved Status Style */
    .approved-status {
        background-color: green; /* Green for approved */
        color: #ffffff;
        padding: 4px 8px;
        border-radius: 8px;
        font-size: 12px;
        display: inline-block;
    }

    /* Denied Status Style */
    .denied-status {
        background-color: red; /* Red for denied */
        color: #ffffff;
        padding: 4px 15px;
        border-radius: 8px;
        font-size: 12px;
        display: inline-block;
    }

    /* Pending Status Style */
    .pending-status {
        border: 1px solid orange; /* Orange for pending */
        color: #000000;
        padding: 4px 11px;
        border-radius: 8px;
        font-size: 12px;
        display: inline-block;
    }

    // Variables
    $primary-color: #0025B7;
    $secondary-color: #ffffff;
    $accent-color: #FFD700; // Added an accent color for highlights
    $input-bg-color: #f3f6fa;
    $border-radius: 8px; // Increased border-radius for a softer look
    $shadow-color: rgba(0, 0, 0, 0.1);


    .schedule-container {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            h2{
                text-align: center;
                margin-bottom: 40px;
            }
        .sched-form {
            background-color: $secondary-color;
            border-radius: 10px;
            padding: 60px;
            width: 100%;
            max-width: 500px;
            form {
            display: flex;
            flex-direction: column;
    
            .form-label {
                font-weight: bold;
                color: $primary-color;
                margin-bottom: 8px;
                display: block;
            }
    
            .form-select,
            .form-control {
                width: 100%;
                padding: 10px;
                border: 1px solid lighten($primary-color, 20%);
                border-radius: $border-radius;
                background-color: $input-bg-color;
                color: darken($primary-color, 20%);
                font-size: 14px;
    
                &:focus {
                  outline: none;
                  border-color: $primary-color;
                  box-shadow: 0 0 0 3px rgba($primary-color, 0.2);
                }
            }
            }
            .btn-primary {
                background-color: $primary-color;
                color: $secondary-color;
                border: none;
                padding: 12px;
                font-size: 16px;
                font-weight: bold;
                border-radius: $border-radius;
                cursor: pointer;
                transition: background-color 0.3s ease;
    
                &:hover {
                    background-color: darken($primary-color, 10%);
                }
    
                &:focus {
                outline: none;
                @include box-shadow;
                }
            }
        }
    }
    .schedule-request{
        height: 100%;
        h2{
            padding: 10px;
            font-size: 30px;
            margin: 10px 0px 5px 0px;
        }
        th, tr{
            font-size: 10px;
        }
        button{
            width: 60px;
            height: 30px;
            font-size: 10px;
            text-align: center;

        }
                
    }
}




