.dashboard-content{
    // background-color: rgb(255, 255, 255);
    // width: 96%;
    // height: 65vh;
    // border-radius: 10px;
    // box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
    // overflow: hidden;

    // .table-top{
    //     height: 100px;
    //     width: 100%;
    //     display: flex;
    //     justify-content: space-between;
    //     flex-direction: column;
    //     .top1{
    //         height: 50%;
    //         width: 100%;
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         padding-left: 10px;

    //     }
    //     .top2{
    //         height: 50%;
    //         width: 100%;
    //         display: flex;
    //         justify-content: flex-end;

    //     }
    // }
    .log-container{
        height: 100%;
        overflow: scroll;
        overflow-x: hidden; 
        .table th{
            background-color: #0069d9;
            color: #ffffff;
            border: 1px solid #ffffff;
        }
    }

    


    .in-container {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        h3 {
            font-size: 24px;
            color: #000000;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            color: #ff5151;
            margin: 10px 0;
        }
        

        .date-in{

            .label-display{
                text-align: center;
                padding: 10px 0px 0px 0px;
                h1{
                    font-size: 40px;
                }
            }
            .date-display{

                text-align: center;
                p{
                    font-size: 25px;
                    color: black;
                }
            }
            .status-display{
                text-align: center;
                p{
                    font-size: 30px;
                }
            }
            .time-display{
                text-align: center;
                p{
                    color: black;
                    font-size: 20px;
                }
            }
        }
        .status{
            padding: 10px;
            height: 85px;
            width: 100%;
            display: flex;
            
            .in-status{
                width: 50%;
                height: 100%;
                border: 1px solid black;
                p{
                    font-size: 15px;
                    color: black;
                    text-align: center;
                }
            }
            .out-status{
                border: 1px solid black;
                width: 50%;
                height: 100%;
                p{
                    text-align: center;
                    font-size: 15px;
                    color: black;
                }
            }
        }



        .button-submit{
            width: 100%;
            height: 170px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            .in-button{
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    padding: 15px 25px;
                    font-size: 20px;
                    color: white;
                    background-color: #007BFF;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    i{
                        font-size: 40px;
                        margin-right: 5px;
                    }
                    &:hover {
                        background-color: #0056b3;
    
                    }
                    &:disabled {
                        background-color: #ccc;
                        cursor: not-allowed;

                        p[style*="color: green;"] {
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }
                }
            }
        p{
            font-size: 20px;
        }
    }
        .time-info{
            width: 100%;
            height: auto;
            padding: 45px 0px 0px 10px;
            display: flex;
            justify-content: space-between;
            p{
                font-style: italic;
                color: black;
                font-size: 15px;
                margin-right: 20px;
            }
        }
    }
}