body{
    box-sizing: border-box;
    margin: 0;
    background-color: #eff6ff;
}    

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    background-image: linear-gradient(#0066E3,#010C1A);
    height: 100vh;
    width: 250px;
    transition: width 0.3s;
    .logo-link{
        display: flex;
        align-items: center;
        justify-content: center;
        .icon i{
            font-size: 40px;
            align-items: center;
            font-weight: bold;
            color: #EFF6FF;
        }
        .description{
            font-size: 40px !important;
            font-weight: bold;
        }
    }
    hr{
        height: 2px;
        width: 90%;
        background-color: #ffffff;
        border: none;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .category{
        margin-left: 10px;
        color: #a5a5a5;
        margin-bottom: 10px;
    }
    .nav-link{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px 20px;
        color: #ffff;
        .description{
            font-size: 15px;
            }
        }
        .nav-link:hover{
            background-color: #0066E3;
            color: #ffff;
    }
}

.main-content{
    height: 100vh;
    margin-left: 250px;
    background-color: #EFF6FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .header{
        background-color: #FFFF;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        font-size: 15px;
        width: 100%;
        height: 80px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
        .welcome-message {
            font-weight: bold;
            .icon i{
                font-size: 20px;
                font-style: bold;
                color: #0069d9;
                padding-right: 1px;
            }
        }
    }
    .page-title{
        width: 100%;
        padding-left: 15px;
        h1{
            margin: 0;
            font-size: 30px;
            text-align: left;
            padding: 15px 0 15px 0px;
        }
    }
    .box-content{
        width: 100%;
        height: 150px;
        display: flex;
        gap: 20px;
        padding: 0px 20px 20px;
        .box{
            background-color: #ffff;
            flex: 1; 
            text-align: center;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
            &:hover{
                border: 1px solid #0066E3;
            }
        }
    }
}

.page-title h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .sidebar {
        width: 80px;
    }
    .sidebar .description{
        display: none;
    }
    .sidebar hr{
        width: 60px;
    }
    .sidebar .category{
        display: none;
    }
    .sidebar .nav-link {
        justify-content: center;
    }
    .main-content {
        margin-left: 80px;
    }
} 












